a {
    text-decoration: none;
    display: block;
}

a:hover {
    color:deepskyblue;
}

.nav-link{
    color: white !important;
}

.card:hover {
    box-shadow: 1px 8px 20px #212529;
    -webkit-transition: box-shadow .6s ease-in-out;
}

.card-text {
    text-align: left;
}

.content {
    white-space: pre-wrap;
}