{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Posts</h1>
<div class="m-3" id="posts">
    <div class="row mb-2">
        {% for post in posts %}
        <div class="col-md-4">
            <div class="card border-dark">
                <div class="card-body">
                    <strong class="d-inline-block mb-2 text-primary">{{post.owner}}</strong>
                    <h3>
                        <a class="text-dark" style="text-decoration:none" href="/posts/{{post.id}}">
                            Post ID: {{post.id}} - {{post.title}}
                        </a>
                    </h3>
                    <!--
                <div class="btn-group" style="float:right">
                    <button type="button" class="btn btn-group btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="/edit/{{post.id}}" class="dropdown-item">Edit Post</a></li>
                        <li><a href="/delete/{{post.id}}" class="dropdown-item">Delete</a></li>
                    </ul>
                </div>
                -->
                    <div class="card-text mb-auto">{{post.content}}</div>
                </div>
                <div class="card-footer text-muted">
                    <div class="br-1 text-muted">Created at: {{post.created_at}}</div>
                    <div class="br-1 text-muted">Modified at: {{post.modified_at}}</div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}