{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
{% for x in content %}
<p class="lead">ID: {{x.id}}</p>
<p class="lead">Title: {{x.title}}</p>
<p class="lead">Content: {{x.content}}</p>
<p class="lead">Owner: {{x.owner}}</p>
<p class="lead">Created at: {{x.created_at}}</p>
<p class="lead">Modified at: {{x.modified_at}}</p>
{% endfor %}
<h1 class="lead">Post with selected ID is:</h1>
<p class="lead">ID: {{findId.id}}</p>
<p class="lead">Title: {{findId.title}}</p>
<p class="lead">Content: {{findId.content}}</p>
<p class="lead">Owner: {{findId.owner}}</p>
<p class="lead">Created at: {{findId.created_at}}</p>
<p class="lead">Modified at: {{findId.modified_at}}</p>
{% endblock %}