{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<h1 align="center">Posts</h1>
<div id="posts">
    {% for post in posts %}
    <div class="card border-dark">
        <div class="card-header d-flex justify-content-between align-items-center">
            <a style="text-decoration:none" href="/posts/{{post.id}}">Post ID: {{post.id}}</a>
            <span class="align-items-center">Owner: {{post.owner}}</span>
            <div class="btn-group">
                <button type="button" class="btn btn-group btn-primary dropdown-toggle" data-bs-toggle="dropdown">
                </button>
                <ul class="dropdown-menu">
                    <li><a href="/edit/{{post.id}}" class="dropdown-item">Edit Post</a></li>
                    <li><a href="/delete/{{post.id}}" class="dropdown-item">Delete</a></li>
                </ul>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">{{post.content}}</div>
        </div>
        <div class="card-footer text-muted">
            <span>Created at: {{post.created_at}}</span>
            <span style="float:right">Modified at: {{post.modified_at}}</span>
        </div>
    </div>
    <br />
    {% endfor %}
</div>
{% endblock %}