{% extends "base.html" %}
{% block title %}Create post{% endblock %}
{% block content %}
<br />
<h1 align="center">{{post.title}}</h1>
<div class="btn-group mx-4 pt-4" style="float:right">
    <label class="mx-2" for="dropdown">Post Actions: </label>
    <button name="dropdown" type="button" class="btn btn-group btn-primary dropdown-toggle pb-3" data-bs-toggle="dropdown">
    </button>
    <ul class="dropdown-menu">
        <li><a href="/posts/edit/{{post.id}}" class="dropdown-item">Edit Post</a></li>
        <li>
            <a href="/posts/delete/{{post.id}}" class="dropdown-item delete"
               data-confirm="Are you sure to delete this item?">Delete</a>
        </li>
    </ul>
</div>
<div class="d-flex mx-5 mt-3 content">
    <p class="lead fs-3">Written by {{post.owner}}</p>
</div>
<div class="d-flex mx-5 mt-3 content">
    <p class="lead text-break">{{post.content}}</p>
</div>
<div class="d-flex mx-5 mt-3 pt-2 border-top fw-bold">Created at: {{post.created_at}}</div>
<div class="d-flex mx-5 mt-3 mb-4 fw-bold">Modified at: {{post.modified_at}}</div>
{% endblock %}